<!DOCTYPE html>
<html>
	<head>
		<title>{{John Martin}}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/Resume">Resume</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hello i'm John and this is my site!</h1>
				<p> This site is a project I am taking on in order to put my name out, and improve my understanding of computer science. I hope you enjoy!<a href="/about">Read more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:Martinjoh@berea.edu">email 1</a></li>
            		<li><a href="mailto:Jmartin042199@gmail.com">email 2</a></li>
        		<li><a href="https://github.com/Martinjoh1">github.com/Martinjoh1</a></li>
			</ul>
		</footer>
	</body>
</html>
