<!DOCTYPE html>
<html>
	<head>
		<title>{{John Martin}}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/Resume">Resume</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				
        		<li><a href="mailto:Martinjoh@berea.edu">School email</a></li>
            		<li><a href="mailto:Jmartin042199@gmail.com">Personal email 2</a></li>
        		<li><a href="https://github.com/Martinjoh1">github.com/Martinjoh1</a></li>
			</ul>
		</footer>
	</body>
</html>
